store {
    display: block;
    border-collapse: collapse;
    margin: 10px;
    width: 300px;
    border:  groove 5px rgb(229, 158, 28);
    }
    item, head {
    display: table-row;
    }
    ntitle, nprice {
    display: table-cell;
    border: 1px solid
    black;
    padding: 5px;
    text-align: center;
    background: #fbb400;
    }
    title, price {
    display: table-cell;
    border: 1px solid
    black;
    padding: 5px;
    }
header{
    font-size: 50px;
    color: orangered;
    font-weight: bold;
    text-decoration:underline;
    align-items: center;
}