@font-face{
    font-family: 'start';
    src:  url('fonts/start.ttf')  format('truetype');

}
@font-face{
    font-family: 'Carveat';
    src: url('fonts/Carveat.ttf') format('truetype');
}

@font-face{
    font-family: 'Exo2';
    src: url('fonts/Exo2.ttf') format('truetype');
}

@font-face{
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.ttf') format('truetype');
}

h1 { 
    margin: 0;
    font-family: 'Carveat';
    text-align: center;
    font-size: 45px;
    text-shadow: rgb(119, 222, 101) 1px 0 10px;
}

h2{
    font-family: 'Exo2';
    margin-bottom: 1.2em;
    margin-top: 0.2em;
    text-indent: 25px;
    text-align: left;
}

.second{
    font-family: 'Exo2';
    margin: 0;
    text-indent: 25px;
    text-align: left;
    margin-bottom: 0px;
}

span{
    font-family: 'Comfortaa';
    text-indent: 25px;
    text-align: justify;
    margin: 0;
    word-spacing: 200%;
    font-size:  20px;
}

span::first-letter{ 
    font-weight: 700;
    font-size: 45px;
    color:  white;
    box-shadow: hsla(275, 100% , 10%, 1);
}

p {
    color:black; 
    margin-top: 0px;  
} 

.monsters::first-line{
    color: rgb(255, 102, 102);
    margin: 25px;
}

.monsters{
    font-size: 20px;
    font-family: 'Comfortaa';
}
ol{
    color: rgb(123, 195, 250);
margin-top: 0px;
}

.block::first-letter{
    color:white;   
    font-weight: 600;
    font-size:45px ;
    background-color:hsla(275, 100%, 10%, 1);
}
li{
    font-family: 'Comfortaa';
    text-indent: 25px;
    text-align: justify;
    margin: 0;
    word-spacing: 200%;
    font-size:  20px;
}

