h1, h2, h3, h4, h5, h6 {
    color: rgb(156, 39, 156);
    font: Monotype Corsiva;
}

span {
    color: rgb(201, 79, 79);
    text-decoration: underline;
}

.pointOne {
    color: rgb(191, 38, 71);
    font: Times New Roman;
    font-size: 18pt;
}

.pointTwo{
    color: rgb(196, 196, 0);
    font: Times New Roman;
    font-size: 20pt
}
ul li{
    list-style-type: none;
    background-image: url(images/i.webp);
    background-size: 25px 30px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0 50%;

}
.header{
    text-align: center;
}

.tableB{
    border-collapse: collapse;
    border: 2px solid black;
}
.firsttr td{
    border: 2px solid black;
}
.fit{
    background-image: url(images/fit.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200px 200px;
    background-position: right top;
}
.pointThree{
    color: rgb(60, 160, 60);
    font: Times New Roman;
    font-size: 22pt;
} 

.images{      
    text-align: center;
    border: solid
}

.second{
    height: 300px;
    width: 300px;
    float: right;
}

.text{
    margin: 0px;
    text-align: left;
    border: solid black;
}

.table3{
    margin-top: 100px;
}


