h1, h2, h3, h4, h5, h6 {
    color: rgb(156, 39, 156);
    font: Monotype Corsiva;
}

span {
    color: rgb(201, 79, 79);
    text-decoration: underline;
}

.pointOne {
    color: rgb(191, 38, 71);
    font: Times New Roman;
    font-size: 18pt;
}

.pointTwo{
    color: rgb(196, 196, 0);
    font: Times New Roman;
    font-size: 20pt
}
ul li{
    list-style-type: none;
    background-image: url(images/i.webp);
    background-size: 25px 30px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0 50%;

}
.header{
    text-align: center;
}

.tableB{
    border-collapse: collapse;
    border: 2px solid black;
}
tr td{
    border: 2px solid black;
}
.fit{
    background-image: url(images/fit.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 200px 200px;
    background-position: right top;
    width: 200px;
    height: 200px;
}
.pointThree{
    color: rgb(60, 160, 60);
    font: Times New Roman;
    font-size: 22pt;
} 

.first{      
    height: 300px;
    width: 300px;     
    float: left;
}

.second{
    height: 300px;
    width: 300px;
    float: right;
}

.text{
    margin: 0px;
}

.task2 div p{
    border: 1px solid black; 

}

.task2 div p::first-line{ 
    margin-bottom: 5px;
}

.image1{
    background-image: url(images/xiaomi.webp);
}
.image2{
    background-image: url(images/samsung.webp);
}

